.ignacio {
	background-color: rgba(27,31,35,0.8);
	color: white;
	padding: 5px;
	border-radius: 5px;
	height: 31px;
}

.ignacio::after {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid rgba(27,31,35,0.8);
	left: 50%;
	bottom: -5px;
	margin-left: -5px;
}

.ignacio-hidden {
	visibility: hidden;
	pointer-events: none;
}